name: Deploy Angular Frontend to Azure Static Web App

on:
  push:
    branches:
      - main  # or your frontend branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        working-directory: ./CRUD-frontend-Spring

      - name: Build Angular app
        run: npm run build -- --configuration production
        working-directory: ./CRUD-frontend-Spring

      - name: Deploy to Azure Static Web App
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_DESERT_0A756BF1 }}
          app_location: ./CRUD-frontend-Spring
          output_location: dist/crud-client-creation
